.title {
    font-size: 14px,
  }

.launches {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
}

.launch-item {
    min-width: 500px;
    margin-top: 50px;
}

.launch-page {
    min-height: 100vh;
}